# Python
__pycache__/
*.py[cod]
*.so
*.egg-info
*.egg
*.pyd
.env
.venv
env/
venv/
ENV/
.env
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db