{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alysson">
    <title>Projeto Django - {% if form.instance.pk %}Editar Tarefa{% else %}Criar Nova Tarefa{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Editar Tarefa{% else %}Criar Nova Tarefa{% endif %}</h1>
        
        <form method="post" class="task-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
        
        <div class="nav-links">
            <a href="{% url 'task_list' %}" class="btn">Voltar para a lista de tarefas</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message|escapejs }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</body>
</html>